html{
    background-color: #011C26;
}

body {
    margin: 0 auto;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.4;
    width: 70%;
    color: #F27405;
    font-weight: 400;
}

#formdiv{
    background-color: #033540;
    margin: -10px auto;
}

#title, #description{
    text-align: center;
}


.form-control{
    display: block;
    width: 100%;
    padding: 5px 0;
    margin-top: 5px;
    border-radius: 0.25rem;
}


.group {
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    width: 100%;
}
